*.pyc
__pycache__
.env*
tmp_media
media
.docker.env
.idea/inspectionProfiles/profiles_settings.xml

.idea/misc.xml

.idea/modules.xml

.idea/review_api_master1.iml

.idea/vcs.xml

.idea/workspace.xml
node_modules